.table-fixed{table-layout: fixed;}
.btn-ok,.btn-cancel{display: none;}
.edit .btn-ok,.edit .btn-cancel{display: inline-block;}
.edit .btn-edit,.edit .btn-del{display: none;}
.table-fixed input{display: none;}
.table-fixed .edit input{display: inline-block;}
.table-fixed .edit span{display: none;}
